#Contents of /etc/systemd/system/pypigpio.service
#systemctl daemon-reload
#systemctl enable pypigpio.service
#systemctl start pypigpio.service


[Unit]
Description=Pypigpio Daemon GPIO Socket Server
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/pypigpio
ExecStart=/opt/pypigpio/.venv/bin/python /opt/pypigpio/pypigpio.py
Restart=on-failure
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
